*{
    margin: 0;
    padding: 0;
}
header nav ul{
    display: flex;
float: right;
    margin-top: 0;
    background-color: darkgreen;
    }
header nav ul li{
    padding: 15px;
       font-size: x-large;
    font-weight: bold;
    list-style-type: none;
    font-family: calibri;
}
header nav ul li :hover{
    border-bottom: solid greenyellow 2px;    
}
header nav ul li ::after{
    color: greenyellow;
}
header nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
body{
        background-attachment: fixed;
    background-image: url(текстура.jpg);
    background-size: none;
    background-repeat: repeat;
}
span h1{
    font-weight: bolder;
    font-size: xx-large;
    font-family:'calibri';
    color:rgb(203, 227, 166);
    padding-top: 10px;
    background-color: darkgreen;
    height:60px;
}
.inner{ 
    margin-top: 20px;
      margin-left:495px ;
      height: 475px;
      width:300px ;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter:blur(25px);
    border: solid white;  
    color: white;
    padding-left: 35px;
      display: flex;
             flex-wrap: wrap;
             flex-direction: column;
}
.inner h1{
     padding-left: 55px;
}
.use{
    margin-top:12px;
    border-radius: 10px;
    height:30px;
    width:265px;
}
.ema{
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    height:30px;
    width:265px;
}
.rad{
    margin-top:0px;
    margin-bottom: 0px;
}
.red{
    margin-right:55px;
}
.emi{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    height:30px;
    width:265px;
}
.text{
    height:115px;
    width: 265px;
    border-radius: 10px;
    padding-left: 10px;
}
.btn{
    margin-top:15px;
    width:265px;
    height:29px;
    color:white;
    background-color: green;
}
.btn :hover{
    cursor:grab;
}
header nav ol li a{
    color: white;
    text-decoration: none;
}
header nav ol{
    display: flex;
}
    header nav ol li{
        display:none;
        left:0;
        right:0;
        background-color:green;
        gap: 20px;
        width: 100%;
        align-items: center;
        height:100%;
    }
    .icon{
    font-size: xx-large;
    color:white;
 display: none;
}
@media (max-width:600px) { 
    body{
        flex-direction: column-reverse;
    }
    span h1{
        display: none;
    }
    header nav ul li{
        display:none;
     }  
    header nav ol li:hover{
        text-decoration: underline solid 2px greenyellow;
    }
     .icon{
        display: flex;
        color: white;
        flex-direction: column;
        left:0;
        right: 0;
        align-items: center;
        width:100%;
        background-color: green;
        height:90%;
        backdrop-filter: blur(15px);
          border-radius: 10px;
    }
    header nav ol li{
        display:flex;
        left:0;
        right:0;
        width: 100%;
        align-items: center;
        height:45%;   
        justify-content: center;
          flex-direction: row;
       }
       header nav ol{
          margin-top: 0px;
          position: relative;
          align-items: center;
          left: 0;
          right: 0;
             background-color:green;
             backdrop-filter: blur(35px);
             border-radius: 6px;
             flex-direction:row;
             gap: 8px;
             font-size:large;
       }
       .liu{
        padding-right: 15px;
       }
       .li{
        padding-left:0px;
       }
      header nav ol{
        margin-top: 10px;
     }
     .inner{
        margin-left: 50px;
        margin-top: 95px;
     }
    }
    @media (max-width:378px) {
        .inner{
            margin-left:20px;          
            margin-top: 96px;
        }
    }
    @media (min-width:755px){
        .inner{
            margin-left: 185px;
             margin-top: 180px;
             display: flex;
             flex-wrap: wrap;
             flex-direction: column;
        }
        span h1{
            padding-top: 0;
        }
    }
    @media (min-width:800px){
        .inner{
            margin-left: 245px;
        }
    }
    @media (min-width:900px){
        .inner{
            margin-left: 405px;
        }
    }